<div class="p-d-flex p-flex-column">
    <div class="p-d-flex">
        <div class="p-d-flex p-flex-column p-d-jc-around" style="width:50%">
            <h1>{{PAGETITLE}}</h1>
            <div class="p-field-checkbox p-ml-5">
                <label for="avoidPlane">{{AVOIDPLANE}}</label>
                <input id="avoidPlane" type="checkbox" (change)="filterList()" [(ngModel)]="avoidPlane">
            </div>
            <div class="p-field-checkbox p-ml-5">
                <label for="avoidShip">{{AVOIDSHIP}}</label>
                <input id="avoidShip" type="checkbox" (change)="filterList()" [(ngModel)]="avoidShip">
            </div>
        </div>
        <app-logo></app-logo>
    </div>
    <div class="p-m-5">
        <p>{{TABLEDESCRIPTION}}</p>
        <p-table [value]="filteredRoutes" selectionMode="single" [(selection)]="selectedRoute" (onRowSelect)="onRowSelect($event)" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>{{ROUTE}}</th>
                    <th pSortableColumn="price">{{PRICE}}<p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="totalTime">{{TIME}}<p-sortIcon field="totalTime"></p-sortIcon></th>
                    <th pSortableColumn="routeType.priority">{{ROUTETYPES}}<p-sortIcon field="routeType.priority"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-route>
                <tr [pSelectableRow]="route">
                    <td>{{route.route}}</td>
                    <td>{{route.price | currency:'USD'}}</td>
                    <td>{{route.totalTime}}</td>
                    <td>
                        <div class="p-d-flex p-flex p-jc-around">
                        <app-transport-icon-display *ngIf="route.routeType.car" transportType="{{tranportTypeCar}}"></app-transport-icon-display>
                        <app-transport-icon-display *ngIf="route.routeType.plane" transportType="{{tranportTypePlane}}"></app-transport-icon-display>
                        <app-transport-icon-display *ngIf="route.routeType.ship" transportType="{{tranportTypeShip}}"></app-transport-icon-display>
                    </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
    </div>
    <div class="p-d-flex p-jc-end">
        <button pButton type="button" label="{{BACK}}" (click)="GoBack()"></button>
    </div>
</div>