<div class="p-d-flex p-flex-column">
    <div class="p-d-flex p-p-5">
        <div class="p-d-flex p-flex-column p-d-jc-around" style="width:50%">
            <h1>{{PAGETITLE}}</h1>
        </div>
        <app-logo></app-logo>
    </div>
    <div class="p-m-5" *ngIf="selectedDeliveryRoute != null">
        <p-table [value]="selectedDeliveryRoute.routes">
            <ng-template pTemplate="header">
                <tr>
                    <th>{{STEP}}</th>
                    <th>{{STARTLOCATION}}</th>
                    <th>{{ENDLOCATION}}</th>
                    <th>{{TIME}}</th>
                    <th>{{TRANSPORTTYPE}}</th>
                    <th>{{TRACKING}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-route>
                <tr>
                    <td>{{route.step}}</td>
                    <td>{{route.startLocation}}</td>
                    <td>{{route.endLocation}}</td>
                    <td>{{route.time}}</td>
                    <td>
                        <app-transport-icon-display transportType="{{route.transportType}}"></app-transport-icon-display>

                    </td>
                    <td> {{answer}} </td>
                </tr>
            </ng-template>
        </p-table>    
    </div>
    <div class="p-d-flex p-jc-end p-mr-5">
        <button class="p-mr-5" pButton type="button" label="{{BACK}}" (click)="goBack()"></button>
        <button pButton type="button" label="{{CHOOSEROUTE}}" (click)="chooseRoute()"></button>

    </div>
</div>