<div class="p-d-flex p-flex-column">
    <div class="p-d-flex p-p-5">
        <div class="p-d-flex p-flex-column p-d-jc-around" style="width:50%">
            <h1>{{PAGETITLE}}</h1>
            <div class="p-formgroup">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="PickupCity">{{PICKUPCITY}}</label>
                        <p-dropdown id="PickupCity" [options]="cities" placeholder="{{SELECTCITY}}"
                            [(ngModel)]="PickupCity" [filter]="true" optionLabel="name">
                        </p-dropdown>
                    </div>
                    <div class="p-field">
                        <label for="DestinationCity">{{DESTINATIONCITY}}</label>
                        <p-dropdown id="DestinationCity" [options]="cities" placeholder="{{SELECTCITY}}"
                            [(ngModel)]="DestinationCity" [filter]="true" optionLabel="name">
                        </p-dropdown>
                    </div>
                    <div class="p-field-checkbox">
                        <label for="recommended">{{RECOMMENDED}}</label>
                        <input id="recommended" type="checkbox" [(ngModel)]="recommended">
                    </div>
                </div>
            </div>
        </div>
        <app-logo></app-logo>
    </div>
    <div class="p-d-flex p-jc-center">
        <button pButton type="button" label="{{CALCULATEROUTE}}" (click)="CalculateRoute()"></button>
    </div>
</div>